*{padding:0;margin:0;border:0}*,:before,:after{box-sizing:border-box}:focus,:active{outline:none}a:focus,a:active{outline:none}nav,footer,header,aside{display:block}html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%}input,button,textarea{font-family:inherit}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:visited{text-decoration:none}a:hover{text-decoration:none}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400}

/*--------------------*/
body {
	font-family: 'Montserrat', sans-serif;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #f5f5f5; 
	
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #95e1d3; 
	height: 50%;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #95e1d3; 
  }

.wrapper {
	min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}


.home {
	width: 100%;
	height: 1000px;
  	background: url("../assets/images/picture_home.png");
}

.container {
	max-width: 1200px;
	margin: 0px auto;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0;
	
}
.row__logo {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
}



.row__navigation nav a {
	margin: 0px 15px;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;

	position: relative;
}

.row__navigation nav a:after {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	display: block;
	left: 0px;
	bottom: -8px;
	background-color:#fce38a;
	opacity: 0;
	z-index: 2;

	transition: opacity .2s linear;
}

.row__navigation nav a:hover {
	color: #fce38a;
}
.row__navigation nav a:hover:after {
	opacity: 1;
}


.intro__row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro__subheader {
	margin: 130px 0px 40px 0px;
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}

.intro__header {
	margin: 40px 0px 70px 0px;
	
}

.absolute {
	height: 780px;

}


.intro__button {
	z-index: 3;
	margin: 50px 0px 0px 0px;
	padding: 10px 30px;
	
	background-color: transparent;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;

	transition: border .2s linear;
}

.intro__button:hover {
	border: 4px solid  #ffffff;
}


.nav__intro {
	display: flex;
	padding: 0 -15px;
	
}
.nav__item {
	margin: 70px 15px;
	display: flex;
	justify-content: center;
	flex: 1 1 25%;

	position: relative;
}

.nav__item:before {
	content: "";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 50px;
	left: 0px;
	background-color: #fff;
	z-index: 1;
	
}

.nav__item:after {
	content: "";
	height: 3px;
	width: 0;
	position: absolute;
	bottom: 50px;
	left: 0px;
	background-color:#f38181;
	z-index: 2;

	transition: width .4s;
}


.nav__item:hover:after{
	width: 100%;
}

.nav__item {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.nav__name {
	padding: 5px 0px 0px 7px;
	font-size: 18px;
	font-weight: 400;
}

/* about */

.info {
	margin: 90px 0px 0px 0px;
	text-align: center;
}


.subtitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;

	margin: 20px 0;
	position: relative;
}

.title {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	position: relative;

	margin: 0px 0px 40px 0px;
}

.title:after {
	content: "";
    position: absolute;
    width: 60px;
    bottom: -40px;
    height: 3px;
    left: 50%;
    background-color: #f38181;
    margin: 0px 0px 0px -25px;
}


.text {
	margin: 75px 0px 103px;
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}

/* !about pictures */

.about__row {
	margin-top: 100px;
	display: flex;
	padding: 0 -15px;

}
.about__item {
	width: 380px;
	height: 250px;
	background-color: #95e1d3;
	margin:  0 15px 110px 15px;

	position: relative;

	
	
}
.about__item:hover .about__img {
	transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
	opacity: .1;
}


.about__img {
	background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .2s linear;
}
.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__text {
	width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.about__item:hover .about__text {
    opacity: 1;
}


/* numbers */

.numbers {
	background-color: #95e1d3;
	
}

.numbers__row {
	
	display: flex;
	justify-content: center;
	align-items: center;

}

.numbers__item {
	flex: 1 1 20%;
	text-align: center;
	border-right: .2px solid #ffffff;
}

.numbers__item:first-child {
	border-left: .2px solid #ffffff;
}


.numbers__number {
	margin: 90px 0px 10px;
	font-family: Montserrat;
	font-size: 72px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
.numbers__text {
	margin-bottom: 90px;
	font-family: Montserrat;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

/* services */

.services {
	margin: 110px 0px 122px 0px;
}

.services__info {
	margin: 0px 0px 100px 0px;
}



.services__row {
	display: flex;
	margin: 0px -30px;
}
.services__item {
	display: flex;
	flex: 1 1 auto;
	padding: 0px 30px;
}

.services__icon{
	margin: 0px 25px 0px 0px;
}

.services__header {
	margin: 0px 0px 18px 0px;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: 700;
	font-size: 14px;
	color: #333;
}

.services__text {
	line-height: 1.6;
	color: #999;
 	font-family: Roboto;
  	font-size: 15px;
}
.line {
	height: 1px;
	background-color:  #e5e5e5;
	margin: 40px 0px;
	z-index: 4;
}

/* unique */

.unique {
	margin: 0px 0px 90px 0px;
	height: 850px;
	background: url("../assets/images/unique-bc.png");
	position: relative;
	
}

.unique:before {
	content: "";
	height: 850px;
	width: 100%;
	background-color: rgba(255 255 255);
	opacity: 0.85;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

.unique__info {
	z-index: 5;
	padding: 75px 0px 0px 0px;
}

.unique__images {
	position: relative;
	height: 630px;
	width: 700px;
	margin: 0 auto;
}

.unique__tablet-img {
	position: absolute;
	right: 132px;
	bottom: 0px;
	
}

.unique__phone-img {
	position: absolute;
	right: -27px;
	bottom: -90.5px;
}

/*  what */

.what {
	margin: 0px 0px 120px 0px;
}

.what__info {
	margin-top: 120px;
}

.what__row {
	display: flex;
	margin: 0px -15px;
	flex: 1 1 50%;
	align-items: center;
}

.what__item {
	padding: 0px 15px;
}

.what__colomn {
	display: flex;
	flex-direction: column;
	margin: -5px 0px;
}

.what__colomn-item {
	padding: 5px 0px;
}

.what__title {
	width: 600px;
	height: 60px;
	border: 1px solid #e5e5e5;
	display: flex;
	align-items: center;

	position: relative;
}

.what__title:after {
	content: "";
	position: absolute;	
	display: block;
	width: 14px;
	height: 14px;
	top: 55%;
	right: 7px;
	border-top: 3px solid #cccccc;
	border-right: 3px solid #cccccc;

	transform: translateY(-50%) rotate(-45deg);


}

.what__icon {
	flex: 0 1 auto;
	padding: 0px 15px 0px 16px;
}

.what__title-header {
	margin: 10px 0px 10px 0px;
	font-size: 14px;
	font-weight: 700;
	line-height: 7px;
	text-transform: uppercase;
	color: #333;
	flex: 0 1 auto;
}
.what__title-header2 {
	margin-left: 4px;
}



.scrollbar-helper {
	padding: 20px 0px 28px;
	max-width: 600px;
	max-height: 180px;
	border: 1px solid #e5e5e5;
	border-top: none;
}

.what__details {
	max-width: 98%;
	max-height: 132px;
	overflow-y: scroll;
	padding: 0px 25px 0px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.6;
	color: #999;
	
}
.show {
	display: none;
}

/* Quote  */

.quote {
	background-color: #f8f8f8;
	margin-bottom: 90px;
	height: 290px;

	
}

.container-sm {
	width: 940px;
	margin: 0 auto;
}
.quote__row {
	display: flex;
	margin: 0px -30px 0px -30px;
	padding-top: 70px;

	position: relative;
	
}

.quote__row:before {
	content: "";
	position: absolute;	
	display: block;
	width: 14px;
	height: 14px;
	top: 65%;
	left: -80px;
	border-top: 3px solid #cccccc;
	border-right: 3px solid #cccccc;

	transform: translateY(-65%) rotate(-135deg);
	z-index: 20;
}

.quote__row:after {
	content: "";
	position: absolute;	
	display: block;
	width: 14px;
	height: 14px;
	top: 65%;
	right: -80px;
	border-top: 3px solid #cccccc;
	border-right: 3px solid #cccccc;

	transform: translateY(-65%) rotate(45deg);
	z-index: 20;
}
.quote__item {
	padding: 0px 30px;

}

.quote__icon {
	padding: 45px;
	border: 2px solid #95e1d3;
}
.quote__itself {
	color: #999999;
	width: 767px;
	height: 96px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
}
.quote__author {
	margin-left: 130px;
	font-size: 20px;
	position: relative;
}

.quote__author:before {
	position: absolute;
	left:-80px;
	bottom: 9px;

	content: "";
	width: 60px;
	height: 3px;
	background-color: #f38181;
}

/* team */

.team {
	margin-bottom: 100px;
}

.team__row {
	display: flex;
	margin: 0 -15px;
}
.team__item {
	position: relative;
	padding: 0 15px;
}
.team__img-wrapper:hover .team__img-bg {
	transform: translate3d(-10px, -10px, 0);

	
	
}
.team__img {
	opacity: 1;
	transition: opacity .2s linear;
}

.team__img-wrapper:hover .team__img-bg {
	background: linear-gradient(to bottom, #f38181, #fce38a);
}

.team__img-bg {
	transition: transform .2s linear;
}

.team__img-wrapper:hover .team__img {
	transition: opacity .2s linear;
	opacity: .1;
}


.team__icons {
	height: 55px;
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 225px;
	left: 0;
	transform: translate3d(0, -50%, 0);
	z-index: 2;

	opacity: 0;

    transition: opacity .2s linear;
}

.team__img-wrapper:hover .team__icons {
	opacity: 1;
}


.team__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;
	width: 55px;
	background-color: #fce38a;
	border-left: 1px solid #f38181;
	
}

.team__icon:first-child {
	background-color: #f38181;
}
.team__img-wrapper {
	background-color: #95e1d3;
	

}
.team__img {
	display: block;
	width: 380px;
	height: 470px;
	overflow: hidden;
}

.team__member {
	text-align: center;
}
.team__name {
	margin: 30px 0 15px;
	text-transform: uppercase;
	font-weight: 700;
}
.team__position {
	letter-spacing: .1;
	font-style: italic;
	color: #999999;
}

.logos {
	display: flex;
	align-items: center;
	width: 100%;
	height: 250px;
	background-color: #f8f8f8;
	margin-bottom: 110px;
}

/* pictures */

.pictures__row {
	width: 1920px;
	margin: 0 auto;
	margin-bottom: 500px;
	display: flex;
	flex: 0 1 480px;
	justify-content: space-between;
	
}

.pictures__item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 960px;
	height: 390px;
	
}

.pictures__icon {
	z-index: 2;
	width: 480px;
	height: 390px;
	

	
}

.pictures__icon img {
	position: relative;
	width: 480px;
	height: 390px;
	overflow: hidden;
	z-index: 0;

}

.pic-img {
	transition: opacity .2s linear;
}


.pictures__icon-big {
	background: linear-gradient(to bottom, #f38181, #fce38a);
}


.pic__inner {
	background: linear-gradient(to bottom, #f38181, #fce38a);
}

.pictures__inner:hover .pic-img {
	opacity: .1;
}
.pic__inner:hover .pic-img {
	opacity: .1;
}
.pictures__icon-big:hover .pic-img{
	opacity: .1;
}

.pictures__big {
	width: 480px;
	height: 780px;
	overflow: hidden;
}

.pictures__inner {
	background: linear-gradient(to bottom, #f38181, #fce38a);
	position: relative;


}

.pictures__inner:hover .inner__details {
	opacity: 1;
}
.pic__inner:hover .inner__details {
	opacity: 1;
}

.inner__details {
	width: 100%;
	text-align: center;
	top: 160px;
	left: 0;
	position: absolute;
	z-index: 1000;
	opacity: 0;

	transition: opacity .2s linear;
}

.inner__details-big {
	top: 340px;
}

.pic__inner {
	position: relative;
}
.inner__title {
	color: #fff;
	margin: 20px 0 17px;
	text-transform: uppercase;
	line-height: 1.1;
	font-weight: 400;
	font-size: 16px;
}
.inner__ubtitle {
	color: #fff;
	text-transform: uppercase;
	line-height: 1.6;
	font-style: italic;
	font-size: 12px;
	
}

/* quote-2 */

.quote-2 {
	margin-bottom: 130px;
	background-color: transparent;
}
.quote-2__icon {
	padding: 0;
	border: none;
	border-radius: 50%;
}

.quote-2__item {
	padding-top: 35px;
}

/* clients */

.clients {
	margin: 0px 0px 100px 0px;
	height: 830px;
	background: url("../assets/images/clients-bg.png");
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.clients:before {
	content: "";
	height: 850px;
	width: 100%;
	background-color: rgba(255 255 255);
	opacity: 0.85;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

.clients__row {
	position: relative;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: 0 1 auto;
	margin: 0 -15px;

}
.clients__item {
	padding: 0px 15px 70px;
	width: 550px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.clients__left img {
	border-radius: 50%;
}

.clients__name {
  margin: 12px 0 15px 0px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  
}


.clients__position {
	position: relative;
	font-style: italic;
	margin: 15px 0px 44px 0px;
	font-size: 15px;
}

.clients__position:after {
	position: absolute;
	content: "";
	width: 60px;
	height: 3px;
	background-color: #f38181;

	left: 0;
	top: 40px;


}

.clients__description {
	width: 373px;
	height: 64px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: normal;
	color: #999;
}

/* blog */

.blog{
	margin-bottom: 116px;
}
.blog__img{
	position: relative;
}
.blog__date {
	position: absolute;
	bottom: 10px;
	left: -12px;

	width: 60px;
	height: 70px;
	background-color: #95e1d3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

.date-number {
	font-size: 30px;
	font-weight: 700;
	
}
.date-day {
	margin-top: 4px;
	font-style: italic;
	height: 1.6;
}
.blog__info {
	margin-bottom: 90px;
}
.blog__row {
	display: flex;
	flex: 0 1 auto;
	margin: 0 -15px;
}
.blog__item {
	padding: 0 15px;

}
.blog__description {
	margin-top: 20px;
}
.blog__header {
	text-transform: uppercase;
	font-weight: 700;
}
.blog__text {
	font-family: 'Roboto', sans-serif;
	color: #999999;
	line-height: 1.6;
	font-size: 15px;
	margin: 20px 0;
}
.hr {
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	margin-bottom: 20px;
}
.blog__reviews {
	display: inline;
	margin-right: 18px;
	font-style: italic;
	line-height: .9;
	color: #999999;
}

.blog__reviews img {
	margin-right: 7px;
}

/* map */

.map {
	height: 200px;
	background-color:  #cccccc;
	margin-bottom: 200px;
}

.map__row {
	padding: 50px 0;
	height: 200px;
	display:flex;
	flex-direction: column;
	align-items: center;
	
}
.map__item {
	width: 140px;
	text-align: center;
}
.map__text {
	position: relative;
	margin-top: 18px;
	color: #f38181;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.map__text:after {
	position: absolute;
	content: "";
	width: 60px;
	height: 3px;
	background-color: #f38181;

	left: 40px;
	top: 50px;
}

/* end */


.end{
	margin-bottom: 70px;
}
.end__row {
	display: flex;
	justify-content: space-between;
	
}

.end__header {
	width: 46px;
	height: 10px;
	font-size: 18px;
	margin-bottom: 86px;
	text-transform: uppercase;
	color: #333;
	font-weight: 600;
}
/* end left */

.end__item-left {
	color:#999999;
	display: flex;
	flex-direction: column;
	padding-right: 10px;
	flex: 0 1 481px;
}

.end__left-logo {
	color:#cccccc;
	font-size: 46.5px;
	font-weight: 900;
	margin-bottom: 42px;
}
.end__left-text{
	margin: 0px 0px 50px 0px;
}
.end__left-followers{
	color: #333333;
	margin-bottom: 18px;
}
.followers__number {
	font-weight: 700;
	font-size: 16px;
}
.end__follow-us {
	margin-bottom: 37px;
	font-style: italic;
	line-height: 1.6;
	font-size: 15px;
}
.end__a{
	display: inline;
	transition: transform .1s linear;
}

.end__follow-text {
	display: inline;
	margin-right: 23px;
}

.left-img {
	padding-top: 6px;
	margin-right: 18px;
}

.input {
	border: 1px solid #e7e7e7;
	width: 230px;
	height: 40px;
}

.input::placeholder {
	font-size: 15px;
	color: #cccccc;
	line-height: 1.6;
	font-style: italic;
	padding-left: 13px;
}
.input-submit {
	background-color: #95e1d3;
	border: none;
	width: 150px;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}
.input-submit:hover {
	background-color: #999;
}



/* end middle */

.end__item-middle {
	padding-right: 10px;
	flex: 0 1 336px;
}

.middle__column {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 52px;
}

.middle__pic {
	max-width: 160px;
	height: 80px;	
}

.middle__info {
	padding-left: 20px;
	width: 214px;
}
.middle__text {
	font-size: 12px;
	color: #333333;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 7px;
}
.middle__date {
	height: 12px;
	object-fit: contain;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: 1.85;
	color: #999;
}

/* end right */

.right__header {
	margin-bottom: 110px;
}

.end__item-right {
	flex: 0 1 300px;
}

.right__row {
	display: flex;
	flex-wrap: wrap;
}
.right__row img {
	border: 4px solid white;
}

.right__subtitle {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #333;
	margin-top: 10px;
	line-height: 1.85;
	cursor: pointer;
}

.right__subtitle:hover {
	color: black;
	font-weight: 700;
}

/* footer */

.footer {
	height: 60px;
}

.footer__text {
	color: #333;
	padding-top: 5px;
	text-align: center;
}
.footer__text span {
	color: #f38181;
}

